/* Social Media CSS Style */

.stylegithub {
	background: grey;
	color: white;
	font-size: 150px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-decoration: none;
}

.stylelinkedin {
	background: #0077B5;
	color: white;
	font-size: 150px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-decoration: none;
}
.stylestackoverflow {
	background: orange;
	color: white;
	font-size: 150px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-decoration: none;
}

/* This is the Portfolio Images CSS Style */

.wp-block {
  margin: 15px 0 15px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  cursor: default;
  border-radius: 2px;
}
a:hover{
    text-decoration:none;
}

.wp-block.inverse .figure {
  position: relative;
}

.wp-block.inverse .figure img {
  width: 100%;
}

.wp-block-info-over.left {
  background: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  bottom: 55px;
  left: 0;
}

.wp-block-info-over {
  width: 100%;
  padding: 10px;
  background: #9cd70e;
  border-top: 1px solid #e0eded;
}

.wp-block-info-over.left h2 {
  font-size: 13px;
  font-weight: normal;
}

.wp-block.inverse h2, .wp-block.inverse .title {
  margin: 0;
  padding: 12px 15px 0 0;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-transform: none;
}

.wp-block-info-over.left h2 a {
  padding: 10px 15px 10px 15px;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  background: rgba(51,51,51,0.8);
  background: #4aa8a2;
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wp-block-info-over.left h2 .label {
  position: absolute;
  bottom: -30px;
  left: 15px;
  padding: .5em .6em .5em;
}

.wp-block.inverse h2, .wp-block.inverse .title {
  margin: 0;
  padding: 12px 15px 0 0;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-transform: none;
}

.label {
  border-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
