/* Social Media CSS Style */

.stylegithub {
	background: grey;
	color: white;
	font-size: 60px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-decoration: none;
}

.stylelinkedin {
	background: #0077B5;
	color: white;
	font-size: 60px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-decoration: none;
}
.stylestackoverflow {
	background: orange;
	color: white;
	font-size: 60px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	text-decoration: none;
}
